*
!*/

!/.github/**/*.yml
!/.idea/scopes/*_sources.xml

!/gradle/wrapper/gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.properties

!/**/build.gradle.kts
!/**/src/**/*.*
!/Data/main.py

!/img/**/*.png

!/.gitignore
!/gradle.properties
!/settings.gradle.kts
!/gradlew
!/gradlew.bat
!/LICENSE
!/README.md
