# Reverse gitignore - explicitly include files
*
!*/
!.gitignore

# Source code and build script
!.github/**
!gradle/**
!src/**
!resources/**/*.py
!img/**/*.png

# Metadata
!build.gradle
!gradle.properties
!gradlew
!gradlew.bat
!LICENSE.md
!README.md